#Title {
    filter: drop-shadow(0px 2px 2px #000000);
    background-color: #AAAAFF;
    text-align: center;
    font-weight: bold;
}
#MainGrid {
    margin-top: 10px;
    display: grid;
    text-align: center;
    font-weight: bold;
}
.Boxes {
    border: 1px solid #000000;
    border-radius: 5px;
}
#INNBox {
    display: grid;
}
#DoseBox {
    display: grid;
}
#TimeBox {
    display: grid;
}
.Hr {
    border: 1px solid #000000;
    width: 100%;
}
.Buttons {
    border: 1px solid #00000020;
    border-radius: 12px;
    background-color: #FFFFFF;
    color: #00000040;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}